/* 투두 헤더 */

.todo__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: calc(var(--spacing) * 4) 0px;
}

/* 투두 폼 */
.todo__form {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.todo__inputs {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: calc(var(--spacing));
  padding: 0px calc(var(--spacing) * 4);
}

.todo__input {
  background-color: transparent;
  outline: none;
  border: none;
  padding: calc(var(--spacing) * 2) 0px;
}

.todo__input-title {
  font-size: 1.1rem;
}

.todo__button {
  padding: var(--spacing);
  height: 100%;
  min-width: 64px;
  color: var(--color-primary);
  font-weight: bold;
}
.todo__button:hover {
  color: var(--color-accent);
}

/* 투두 리스트 */
.todo__category {
  margin: calc(var(--spacing) * 4) 0;
}

.todo__ul {
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacing));
}

.category__title {
  padding: calc(var(--spacing) * 3);
}

.title_working {
  color: var(--color-primary);
}
.title_done {
  color: var(--color-accent);
}

.todo__li {
  min-height: 45px;
  display: flex;
  align-items: center;
  padding: 0 calc(var(--spacing) * 3);
  gap: calc(var(--spacing) * 3);
}
.todo__li.todo_checked {
  text-decoration: line-through;
}

.todo__checkbox {
  padding: var(--spacing);
  margin: 0px;
  cursor: pointer;
}
.todo__content_wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  cursor: pointer;
  padding: calc(var(--spacing) * 3) 0px;
  overflow: hidden;
}

.todo__li__title {
  font-weight: 600;
  font-size: 1.2rem;
  padding: var(--spacing) 0px;
}
.todo__li__content {
  font-weight: lighter;
  max-height: 0px;
  transition: all 0.2s ease-in;
  overflow: hidden;
  opacity: 0;
}
.todo__li__content.open {
  max-height: 300px;
  padding: var(--spacing) 0px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacing) * 2);
  opacity: 1;
}

.todo__btns {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: var(--spacing);
}
.todo__change {
  cursor: pointer;
  fill: var(--color-primary);
}
.todo__change:hover {
  fill: var(--color-accent);
}

.todo__delte {
  cursor: pointer;
  fill: var(--color-primary);
}
.todo__delte:hover {
  fill: var(--color-accent);
}
