@import url(./reset.css);
:root {
  /* colors */
  --color-bg: var(--color-white);
  --color-primary: var(--color-light-blue);
  --color-accent: var(--color-orange);
  --color-text: var(--color-black);

  --color-orange: orange;
  --color-light-blue: #2bb4ea;
  --color-black: #000000de;
  --color-white: #ffffff;

  /* spacing */
  --spacing: 4px;

  /* size */
  --container-max-size: 1200px;
  --container-min-size: 800px;

  /* font */
  --font-xl: 3rem;
  --font-lg: 2rem;
  --font-md: 1.25rem;
}

/* 다크모드 */
:root.dark {
  /* colors */
  --color-bg: var(--color-black);
  --color-text: var(--color-white);
}

/* 공통 */
body {
  background-color: var(--color-bg);
}
hr {
  margin: 0px;
  border-color: var(--color-bg);
}

* {
  box-sizing: border-box;
  color: var(--color-text);
}

/* 자주사용 */
.container {
  max-width: var(--container-max-size);
  min-width: var(--container-min-size);
  margin: 0 auto;
}

.font-xl {
  font-size: var(--font-xl);
  font-weight: bold;
}
.font-lg {
  font-size: var(--font-lg);
  font-weight: bold;
}

.svg-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dark .box {
  box-shadow: rgba(180, 175, 175, 0.24) 0px 3px 8px;
}

.box {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 4px;
}
